div.arr{
position:absolute;
width:calc(91% - 55px);
height:calc(100% - 4.207px);
right:0;
margin:0;padding:0;border:0;
background-image: url("wbO2.svg");
background-position-x:right;
background-size:cover;
}
div.vid{
margin-top:1em;
width:1920px;
height:auto;
}
div.vid, div.vid video{
max-width:100%;
max-height:100vh;
}
div.mask{
background:black;
border-radius:.2em;
box-shadow:inset 0 0 1em white;
}
div.tab{
display:flex;
justify-content:center;
align-items:center;
margin-top:1em;
margin-bottom:1em;
}
div.tab img{
margin-top:0;
margin-bottom:0;
}
@media screen and (orientation:portrait){
.tab{flex-direction:column}
.tab img:nth-child(2){margin-top:.3em}
}
@media screen and (orientation:landscape){
.tab{flex-direction:row}
.tab img:nth-child(2){margin-left:.5em}
}
